extends /base.jade
block body
  .jumbotron: .inner
    .text-center
      - var event = true
      if !event
        div Let's Hack!
        h1.mb-4 來黑客松吧！
        .lead
          .zh 不要問為什麼沒有人做這個，先承認你就是「沒有人」！
          .en Nobody gonna do this? You are the one.
      else
        .lead(style="font-size:1.3em")
          .zh
            div(style="font-size:0.5em") g0v hackath27n / 零時政府第 27 次
            div(style="font-weight:900;font-size:1.5em;margin:10px 0 10px") 全球立法黑客松
            div(style="font-size:0.65em") 2017/11/25 @ IIS, Academia Sinica / #[small 中央研究院資訊所]

    .text-center
      p.lead
        a.btn.btn-primary.btn-lg.mr-1(href="https://g0v-jothon.kktix.cc/") #[small Register Now] #[br] 立刻報名
        a.btn.btn-primary.btn-lg(href="http://x.co/g0v27") #[small Note for Latest Event] #[br] 本期共筆
      br
      small.en Learn More #[br]
      big.zh 了解更多
      br
      img(src="img/down.gif")
  .content
    blockquote
      h5 「自從參加黑客松之後，人長高了也變壯了，考試都得一百分！」
      .pull-rightt.text-right — 鄭遠祥，資深健美教練 #[br]#[small.gray should be random and carousel]
    +nbr(3)
    h1 什麼是零時政府黑客松？#[small / about g0v hackathon]
    .photo.lg: .inner.reveal(data-lg-src="img/photo/lg/1.jpg")
    .row.photos
      .col.photo: .inner.reveal.cover(data-src="img/photo/2.jpg",data-lg-src="img/photo/lg/2.jpg")
      .col.photo: .inner.reveal.cover(data-src="img/photo/3.jpg",data-lg-src="img/photo/lg/3.jpg")
      .col.photo: .inner.reveal.cover(data-src="img/photo/4.jpg",data-lg-src="img/photo/lg/4.jpg")
      .col.photo: .inner.reveal.cover(data-src="img/photo/5.jpg",data-lg-src="img/photo/lg/5.jpg")
    .row.photos
      .col.photo: .inner.reveal.cover(data-src="img/photo/6.jpg",data-lg-src="img/photo/lg/6.jpg")
      .col.photo: .inner.reveal.cover(data-src="img/photo/7.jpg",data-lg-src="img/photo/lg/7.jpg")
      .col.photo: .inner.reveal.cover(data-src="img/photo/8.jpg",data-lg-src="img/photo/lg/8.jpg")
      .col.photo: .inner.reveal.cover(data-src="img/photo/9.jpg",data-lg-src="img/photo/lg/9.jpg")
    p 零時政府黑客松由 g0v 揪松團舉辦，#[b 兩個月一次的單天活動]，百名與會者來自#[b 不同的城市、背景、專長與年紀]，利用#[b 三分鐘]的時間將自己想做的事快速發表，並在活動現場尋找志同道合的#[b 夥伴]，發揮各自所長，同時透過#[b 線上與線下協作]的方式，用弄髒雙手的精神來「#[b.red 讓事情發生]」。
    p 這些想法不光在黑客松發酵，更常延燒到會後，以不定時的方式持續發展，像是「#[a(href="https://moe.kktix.cc/",target="_blank") 萌典松]」、「#[a(href="https://cofacts.kktix.cc/",target="_blank") 真的假的 Line Bot]」、「#[a(href="https://vote.ly.g0v.tw/",target="_blank") 立委投票指南]」等專案，也因此形成了一個長期關注公民科技的民間社群。
    +nbr(1)
    .row.text-white
      .col: .card.bg-primary: .card-body
        .reveal.s67(data-src="img/icon/party.svg")
        h5.text-center 定期舉辦的實體活動
        p 零時政府黑客松以#[b.yellow 實體活動]形式，#[b.yellow 每兩個月一次]已連續五年舉辦，每次近百人的黑客松至今已有兩千人次參與。
      .col: .card.bg-success: .card-body
        .reveal.s67(data-src="img/icon/translator.svg")
        h5.text-center 開放參與和線上協作
        p 黑客松的提案均需以#[b.yellow 開放授權方式]釋出成果讓更多人願意投身加入，參與者亦透過各種網路工具進行#[b.yellow 線上協作]。
      .col: .card.bg-danger: .card-body
        .reveal.s67(data-src="img/icon/crowdsourcing.svg")
        h5.text-center 公民科技與民間社群
        p 會後各提案持續發酵，廣傳民間也影響政府。更多#[b.yellow 子專案與主題松]展開，形成一個關心社會的#[b.yellow 公民科技社群]。
    +nbr(1)

    br
    h4 什麼是「讓事情發生」？ / #[big.red What] is "Let's Hack"?
    p 例如，想改善住家附近的公共設施品質嗎？想搞清楚選區立委做了多少事嗎？想號召民眾一起收集生活中的各種資料嗎？與其等待別人來做，不如自己先起個頭，讓大家來跟進吧！
    div(style="width:100%;height:100px;position:relative;border: 1px solid #ccc")
      div(style="width:600px;height:32px;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;")
        | 流程圖 #[small ( 對事情感到不滿 / 可以改善 -> 寫下你的想法 -> 帶到黑客松來自我行銷 )]
    +nbr(2)
    h4 要怎麼「讓事情發生」？ / #[big.red How] to "Let's Hack?"?
    p 萬事起頭難。首先構思你的提案，並用三分鐘的電梯式簡報告訴大家。成功的提案包含了以下的要素：
    ul
      li 清楚、簡單的#[b.red 訴求]。為什麼你要做這個？這個有什麼用處？
      li 初步的規畫與#[b.red 想法]。先跑先贏！用你的初稿引出更多回饋。
      li 缺乏的資源與#[b.red 需求]。會吵的小孩有糖吃，大聲說出你哪裡需要幫忙。
      li 最終成果如何#[b.red 分享]。大家一起蓋的橋，就要讓大家一起用。
    p 零時政府黑客松提供你提案的舞台，只要在當期共筆登記你的專案，放鬆心情到黑客松與大家分享，就很有機會吸引到與你的想法有共鳴的人喔！
    p TODO: 自主提案 → 現場組隊
    div(style="width:100%;height:100px;position:relative;border: 1px solid #ccc")
      div(style="width:500px;height:32px;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;")
        | 流程圖 #[small ( 報名 -> 填表 -> 簡報 -> 開工 -> 發表 ) ( 內含連結與圖與範例簡報 ) ]
    +nbr(2)
    h4 零時政府黑客松的理念 / Our Core Value
    p 現在你已經了解了黑客松的運作模式，那什麼樣子的想法適合來到零時政府黑客松提案呢？
    h5 開源的
    p 這是一個號召民眾一同開幹的場域，因此你的成果必須要與大家分享。無論是原始碼、文案、設計稿、流程圖、錄音檔，專案成果必須要採用「#[b.red 開放授權]」，讓任何人都可以合理的使用你們的成果。
    h5 行動主義
    p 不要再問為什麼沒有人做這個了，因為你就是沒有人！我們鼓勵任何提案任何形式的偷跑，在來提案之前先把概念、做法、困難、需求等基本問題思考清楚，由身為提案人的你揭竿起跑，讓更多同志與你一同衝鋒陷陣。
    h5 公民精神
    p 這是一個號召民眾一同開幹的場域，你的成果自然必須要與大家分享。無論是原始碼、文案、設計稿、流程圖、錄音檔，專案成果必須要採用「#[b.red 公民精神]」，讓任何人都可以合理的使用你們的成果。
    hr
    h5.text-center 舉例來說
    +nbr(1)
    .row.text-center
      .col
        big: i.fa.fa-times.text-danger
        h5 美容保養品集資專案
        p 缺乏公民精神，群募但無開放授權。
      .col
        big: i.fa.fa-circle-o.text-success
        h5 政治獻金透明化群眾外包
        p 成果開放、公民運動，身先士卒。
      .col
        big: i.fa.fa-times.text-danger
        h5 blah blah
        p 再來一個範例吧
    hr
    +nbr(2)
    small.pull-right(style="margin-top:15px") 提案影片庫 #[i.fa.fa-link]
    h4 提案實況 / Pitch Video of Projects
    .card: .card-body(style="padding-bottom:2.2rem")
      #carousel-video.carousel.slide(data-ride="carousel",style="background:#fff")
        ol.carousel-indicators
          li.active(data-target="#carousel-video",data-slide-to="0")
          li(data-target="#carousel-video",data-slide-to="1")
          li(data-target="#carousel-video",data-slide-to="2")

        .carousel-inner

          .carousel-item.active
            .row
              .col-sm-7
                .text-center
                  br
                  h3 超農域
                  small.gray 奧客慢 @ g0v hackath7n
                hr
                p.text-left 傲客慢於第 N 次不拉不拉黑客松的提案「超農域」，訴求打造全新的農業體驗，以「農育的農育農預農預的農預」一詞成功吸引到了許多與會者的協助。
              .col-sm-5
                div(style="width:100%;height:250px;margin:auto;background:#222;position:relative")
                  div(style="position:relative;height:0;padding-bottom:56.12%;width:100%")
                    iframe(src="https://www.youtube.com/embed/K9E27sSTQew?ecver=2",
                    style="position:absolute;width:100%;height:100%;left:0;margin:18px 0",
                    width="641",height="360",frameborder="0",gesture="media",allowfullscreen)

          .carousel-item
            .row
              .col-sm-7
                .text-center
                  br
                  h3 超農域
                  small.gray 奧客慢 @ g0v hackath7n
                hr
                p.text-left 傲客慢於第 N 次不拉不拉黑客松的提案「超農域」，訴求打造全新的農業體驗，以「農育的農育農預農預的農預」一詞成功吸引到了許多與會者的協助。
              .col-sm-5
                div(style="width:100%;height:250px;margin:auto;background:#222;position:relative")
                  div(style="position:relative;height:0;padding-bottom:56.12%;width:100%")
                    iframe(src="https://www.youtube.com/embed/K9E27sSTQew?ecver=2",
                    style="position:absolute;width:100%;height:100%;left:0;margin:18px 0",
                    width="641",height="360",frameborder="0",gesture="media",allowfullscreen)

          .carousel-item
            .row
              .col-sm-7
                .text-center
                  br
                  h3 超農域
                  small.gray 奧客慢 @ g0v hackath7n
                hr
                p.text-left 傲客慢於第 N 次不拉不拉黑客松的提案「超農域」，訴求打造全新的農業體驗，以「農育的農育農預農預的農預」一詞成功吸引到了許多與會者的協助。
              .col-sm-5
                div(style="width:100%;height:250px;margin:auto;background:#222;position:relative")
                  div(style="position:relative;height:0;padding-bottom:56.12%;width:100%")
                    iframe(src="https://www.youtube.com/embed/K9E27sSTQew?ecver=2",
                    style="position:absolute;width:100%;height:100%;left:0;margin:18px 0",
                    width="641",height="360",frameborder="0",gesture="media",allowfullscreen)

        a.carousel-control-prev(href="#carousel-video",role="button",data-slide="prev")
          span.carousel-control-prev-icon 
        a.carousel-control-next(href="#carousel-video",role="button",data-slide="next")
          span.carousel-control-next-icon 


    //-
      .row
        .col-sm-7
          .text-center
            br
            h3 超農域
            small.gray 奧客慢 @ g0v hackath7n
          hr
          p.text-left 傲客慢於第 N 次不拉不拉黑客松的提案「超農域」，訴求打造全新的農業體驗，以「農育的農育農預農預的農預」一詞成功吸引到了許多與會者的協助。
        .col-sm-5
          div(style="width:100%;height:250px;margin:auto;background:#222;position:relative")
            div(style="position:relative;height:0;padding-bottom:56.12%;width:100%")
              iframe(src="https://www.youtube.com/embed/K9E27sSTQew?ecver=2",
              style="position:absolute;width:100%;height:100%;left:0;margin:18px 0",
              width="641",height="360",frameborder="0",gesture="media",allowfullscreen)
      .text-center 。。。。。

    +nbr(2)
    h4 沒有想法，我也可以貢獻嗎？ / Contribute without Proposal
    p 可以！帶上你的腦袋與雙手，到活動現場找尋志同道合的提案吧！
    div(style="width:100%;height:100px;position:relative;border: 1px solid #ccc")
      div(style="width:500px;height:32px;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0;")
        | 流程圖 #[small ( 報名 -> 自介 -> 找需求 -> 分工 ) ( 內含連結與圖 ) ]

    +nbr(3)
    .text-center
      div 手癢了嗎？
      +nbr(1)
      .btn.btn-primary.mr-2.btn-lg 立刻報名
      .btn.btn-primary.btn-lg 當期共筆
      +nbr(2)
      span 或 
      +nbr(2)
      a(href="#",data-toggle="modal",
      data-target="#sorting-hat") 不清楚自己該去哪嗎？試試揪松網分類帽吧！#[img(src="img/magic.svg")]
    include sorting-hat.jade

