extends /base.pug
block vars
  - var title = "關於揪松團 / 零時政府揪松網"
  - var description = "g0v 揪松團是 g0v.tw 社群籌辦雙月黑客松的工作小組，除了籌畫每雙月的百人黑客松 ( 大松 ) 外，2016 年起亦積極推動社群基礎建設，並於 2016 年底推出公民科技創新獎助金計畫 。"
  - var thumbnail = "http://hack.g0v.tw/assets/img/about/members.jpg";
  - var members = yamls("data/members");
  - var staffs = yamls("data/members/staffs");
  - var hasEn = true;
  - members.sort(function(a,b) { return (a.since > b.since ? 1 : a.since < b.since ? -1 : 0); });
block head
block body
  div(style="background:linear-gradient(180deg,#fff,#fff,#f2f5f8,#ddd)")
    +nbr(2)
    .row(style="max-width:1024px;margin:auto")
      .col-md
        br
        .text-center(style="position:relative;z-index:1;margin-top:0px")
          small About g0v Jothon
          h1 關於揪松團
          img.ld.ld-heartbeat(src="/assets/img/jothon-bg-light.svg",style="width:100px")
        br
      .col-md
        img(src="/assets/img/about/members.jpg", style="width:600px;max-width:100%;margin:auto;box-shadow:0 2px 5px rgba(0,0,0,.2);margin:auto;display:block")
    +nbr(2)
  +nbr(1)

  .container
    h1.mb-0.mt-0 尋找公民科技的續航力
    small.gray 零時政府揪松團自 2015 年 4 月起 / g0v Jothon, Since April, 2015
    .row.align-items-center.pt-2
      .col-md-4.impact-report
        a(href="https://drive.google.com/file/d/1VGs3Q2qIDBlBVQmrRzDq2oZLqXRw5PbT/view" target="_blank") 
          img(src="/assets/img/impact.jpg?v=2023" width="100%" title="2022-2023 g0v 揪松團影響力報告")
          p.pt-2.text-center.dlbutton 開啟最新報告
      .col-md-8.p-4
        h4 2022-2023 g0v 揪松團影響力報告
        p 「一個人走得快，一群人走得遠。」要讓社群持續運轉、維持能量，光靠單一組織的力量是難以擴大實際的影響力。尤其對於開源社群來說，社群間願意分享技術、交流想法，才是 #[span.g0v] 社群能夠在台灣社會發揮影響力的關鍵。作為維繫 #[span.g0v] 社群的工作小組，#[span.g0v] 揪松團自 2014 年正式成立以來，持續透過串聯不同領域的夥伴，也是因為有了開源社群、公部門、國際合作、公民科技教育、NGO／NPO，以及贊助夥伴的支持，才得以持續累積社群能量與眾人之力。
    hr

        
    p #[span.g0v] 零時政府揪松團（#[span.g0v] jothon）是主辦 #[span.g0v.tw] 百人大黑客松與基礎松的工作小組（task force），2012 年底開始舉辦雙月大松，2014 年後正式取名為「揪松團」，
      | 並於 2016 年開始招募正職員工，重啟社群基礎建設計畫，希望在大黑客松之餘，讓線上與線下的跨界協作更為順暢。

    p 2017 年起籌辦
      a(href="https://grants.g0v.tw/" target="_blank") #[span.g0v] 公民科技創新獎助金（Civic Tech Prototype Grant）
      |，與來自不同領域的團體合作專案，提供每個團隊 30 - 50 萬元獎金，讓社群的創造力能持續發展。

    p 2020 年籌辦
      a(href="https://sch001.g0v.tw/" target="_blank") #[span.g0v] 零時小學校（Sch001）
      |，零時小學校（Sch001）是聚焦在教育的 g0v 專案，將代表數位原生世代的 0 與 1 放入代表教育的「學校（School）」，從零重新思考學校的角色，代表教育與數位社群的連結與協作。
    
    p 因應 Covid-19 疫情影響，g0v 揪松團將雙月黑客松原封不動搬到線上舉行，「
      a(href="https://jothon.online/" target="_blank") 線上揪松 Jothon Online
      |」線上活動平台就此誕生。同名小分隊也形成一個工作小組，作為線上會議、跨界合作的籌備小組。目前已經辦理 2 次線上百人黑客松，並協助辦理總統盃黑客松、AIT 跨國工作坊合作。
        
    +nbr(1)
    h4 公民科技創新獎助金計劃

    p 自 2012 年以來，上千位參與者透過一場場黑客松，打造出多項以開放資料、開放政府為精神的資訊平台，以縮短數位落差為初衷，降低公民參與門檻，使得議題審議可立基在具體事實，提升理性討論公共事務的意識。

    p 六年多來三十餘次的黑客松孵化出了數百個專案，其中不乏發展成真正具有社會影響力的成品；然而，這些專案的開發、經營，甚至社群本身，大多仰賴志願者的熱情投入。我們認為好的創意與設計還需要投入持續開發、長期營運維護的人力與心力，才能真正成為足以產生改變、激發更多創意與發展的成果。

    p 為鼓勵更多優秀人才投入公民科技領域、加速孵化更多成果，我們向國內外各大具社會影響力之媒體、科技產業、非政府組織募集「公民科技創新獎助金」，並設計一套參與、評選機制，來獎助具潛力且有助公共利益的專案，投入原型開發或維護營運。
    +nbr(1)
    .row.text-center
      each name in [["agrinote","阿龜誌"],["linebot","真的假的"],["treasure","國家寶藏"],["vote-guide","投票指南"]]
        .col
          .grantee-badge(style="background-image:url(/assets/img/about/grantee/" + name[0] + ".png)")
          label= name[1]
    .text-center: small.gray
      | 公民科技創新獎助金歷屆得獎提案 ( 部份摘錄 )。
      a(href="https://grants.g0v.tw/power",target="_blank") 全部得獎專案 #[i.fa.fa-link]

    +nbr(2)
    h4 參與揪松團
    p #[span.g0v] 揪松團本身亦為一個 #[span.g0v] 專案，若你有興趣參與揪松團的計劃，可以透過以下管道了解更多：
    ul
      li #[a(href="http://join.g0v.tw",target="_blank") g0v slack] 中的 #jothon 聊天室
      li: a(href="https://groups.google.com/forum/#!forum/g0v-jothon-staff",target="_blank") 揪松團 Google Group
      li: a(href="https://g0v.hackmd.io/@jothon/rksXtoYj8Q",target="_blank") 揪松團工作計畫共筆

    +nbr(2)
    h3 揪松團決策委員 #[small.en / g0v Jothon Decision-Making Committees]
    hr
    .members
      each member in members
        if member.status == 'active'
          .member.media.mb-3(style="min-height:180px")
            img.mr-3(src="/assets/img/about/avatar/" + member.nick + ".jpg",style="width:140px;border-radius:3px;box-shadow:0 2px 2px rgba(0,0,0,0.4)")
            .media-body
              h5.mt-0.mb-0 #{member.name} / #{member.nick}
              if member.title
                .mb-2: small.gray #{member.title}
              p !{md(member.description.trim())}
    
    h3 揪松團職工 #[small.en / g0v Jothon Staff]
    hr
    .members
      each staff in staffs
        if staff.status == 'active'
          .member.media.mb-3(style="min-height:180px")
            img.mr-3(src="/assets/img/about/avatar/" + staff.nick.toLowerCase() + ".jpg",style="width:140px;border-radius:3px;box-shadow:0 2px 2px rgba(0,0,0,0.4)")
            .media-body
              h5.mt-0.mb-0
                if staff.name
                  | #{staff.name} / 
                | #{staff.nick}
              if staff.title
                .mb-2: small.gray #{staff.title}
              p !{md(staff.description.trim())}
    h3 社群志工 #[small.en / Community Volunteer]
    hr
    p g0v 黑客松活動，感謝 入坑貢獻者，包含主持、食物籌辦、報到、場務、翻譯、攝影與直播錄影組、主視覺設計、文宣品製作…等，熱烈歡迎大幫手／志願者入坑！
    p 點我看 #[a(href="https://g0v.hackmd.io/@jothon/hackathon_contributors" target="_blank") 大松大幫手感謝名單]

    +nbr(2)
    h3 合作窗口 #[small.en / Contact]
    hr
    p 合作、訪問或其他相關的問題，亦可透過 #[a(href="mailto:g0v-jothon@googlegroups.com") g0v-jothon&#64;googlegroups.com] 郵件群組與我們聯繫。若你願意幫忙大松籌辦，則歡迎直接到 #[a(href="http://join.g0v.tw/") g0v slack 聊天室] 的 jothon 群組聊聊。
