extends /base.pug
block vars
  - var videos = yaml("data/demo-videos.yaml");
  - var testimonies = yaml("data/testimonies.yaml");
  - var reviews = yaml("data/reviews.yaml");
  - var featuring = yaml("data/featuring.yaml");
  - var now = new Date().getTime();
  - if(now < new Date(featuring.publish_date).getTime() || now > new Date(featuring.date).getTime()) {
  -   var event = false;
  - } else {
  -   var event = true;
  - }
block head
  script.
    var featuring = !{escjson(featuring)};
block body
  .jumbotron: .inner
    - var jumbobk = (featuring.background ? featuring.background : ("/assets/img/events/" + featuring.id + ".jpg"))
    .background(style="background-image:url(" + jumbobk + ")")
    .text-center
      div
        div Let's Hack!
        h1.mb-4 來黑客松吧！
        .lead
          .zh: small 不要問為什麼沒有人做這個，先承認你就是「沒有人」
          .en Nobody gonna do this? You are the one.
      div(style="display:none")
        .lead(style="font-size:1.3em")
          .zh
            div(style="font-size:0.5em") g0v hackath#{featuring.id}n / 零時政府第 #{featuring.id} 次
            .heavy(style="font-weight:900;font-size:1.5em;margin:10px 0 10px") #{featuring.shortname}
            div(style="font-size:0.65em")
              span #{featuring.date} @ #{featuring.location.en} /
              small #{featuring.location.zh}
      script.
        var start = new Date(featuring.publish_date).getTime();
        var end = new Date(featuring.date).getTime() + 86400000;
        var now = new Date().getTime();
        if(now < start || now > end) {
          $(".jumbotron .text-center > div:nth-child(1)").show();
          $(".jumbotron .text-center > div:nth-child(2)").hide();
        } else {
          $(".jumbotron .text-center > div:nth-child(1)").hide();
          $(".jumbotron .text-center > div:nth-child(2)").show();
          $(".jumbotron .background").show();
        }

    .text-center
      p.lead
        if event
          a.btn.btn-primary.btn-lg.mr-1(href="https://g0v-jothon.kktix.cc/events/g0v-hackath" + featuring.id + "n",target="_blank") #[small Register Now] #[br] 立刻報名
        else
          a.btn.btn-primary.btn-lg.mr-1(href="#",onclick="scrollto('#subscribe-newsletter',2000)") #[small Subscribe Newsletter] #[br] 訂閱電子報
        a.btn.btn-primary.btn-lg.mr-1(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",target="_blank") #[small Donate by Subscribing] #[br] 認養大松
        a.btn.btn-primary.btn-lg(href="http://beta.hackfoldr.org/g0v-hackath" + featuring.id + "n") #[small Note for Latest Event] #[br] 本期共筆
      br
      #learn-more(onclick="scrollto('#content')")
        small.en Learn More #[br]
        big.zh 了解更多
        br
        img(src="/assets/img/down.gif")
  #content.content
    mixin carousel-testimony(title, name, quote, active)
      .carousel-item(class=(active ? "active" : ""))
        blockquote
          h5 「 #{quote.zh}」
          small.gray.ml-3 "#{quote.en}"
          .pull-rightt.text-right
            .name — #{name.zh}，#{title.zh}
            small.gray #{name.en} / #{title.en}
    #carousel-testimony.carousel.slide(data-ride="carousel")
      .carousel-inner
        each item,index in testimonies
          +carousel-testimony(item.title, item.name, item.quote, index == 0)
      a.carousel-control-prev(href="#carousel-testimony",role="button",data-slide="prev")
        span.carousel-control-prev-icon
      a.carousel-control-next(href="#carousel-testimony",role="button",data-slide="next")
        span.carousel-control-next-icon
    +nbr(3)
    h1 什麼是零時政府黑客松？#[small / about g0v hackathon]
    .photo.lg: .inner.reveal.lightbox(data-lg-src="/assets/img/photo/lg/1.jpg")
    mixin demo-photo(id)
      .col.photo
        .inner.reveal.cover.lightbox(
          data-src="/assets/img/photo/" + id + ".jpg",
          data-lg-src="/assets/img/photo/lg/" + id + ".jpg"
        )
    #carousel-photo.carousel.slide(data-ride="carousel")
      .carousel-inner
        .carousel-item.active
          .row.photos
            +demo-photo(2)
            +demo-photo(3)
            +demo-photo(4)
            +demo-photo(5)
          .row.photos
            +demo-photo(6)
            +demo-photo(7)
            +demo-photo(8)
            +demo-photo(9)
        .carousel-item
          .row.photos
            +demo-photo(10)
            +demo-photo(11)
            +demo-photo(12)
            +demo-photo(13)
          .row.photos
            +demo-photo(14)
            +demo-photo(15)
            +demo-photo(16)
            +demo-photo(17)
      a.carousel-control-prev(href="#carousel-photo",role="button",data-slide="prev")
        span.carousel-control-prev-icon: i.fa.fa-chevron-left
      a.carousel-control-next(href="#carousel-photo",role="button",data-slide="next")
        span.carousel-control-next-icon: i.fa.fa-chevron-right
    +nbr(1)
    p 零時政府黑客松由 g0v 揪松團舉辦，#[b 兩個月一次的單天活動]，百名與會者來自#[b 不同的城市、背景、專長與年紀]，利用#[b 三分鐘]的時間將自己想做的事快速發表，並在活動現場尋找志同道合的#[b 夥伴]，發揮各自所長，同時透過#[b 線上與線下協作]的方式，用弄髒雙手的精神來「#[b.red 讓事情發生]」。
    p 這些想法不光在黑客松發酵，更常延燒到會後，以不定時的方式持續發展，像是「#[a(href="https://moe.kktix.cc/",target="_blank") 萌典松]」、「#[a(href="https://cofacts.kktix.cc/",target="_blank") 真的假的 Line Bot]」、「#[a(href="https://vote.ly.g0v.tw/",target="_blank") 立委投票指南]」、「#[a(href="https://www.facebook.com/groups/vtaiwan/about/") vTaiwan.tw]」等專案，也因此形成了一個長期關注公民科技的民間社群。
    +nbr(1)
    .row.text-white
      .col-md.mb-1: .card.bg-primary: .card-body
        .reveal.s67(data-src="/assets/img/icon/party.svg")
        h5.text-center 定期舉辦的實體活動
        p 零時政府黑客松以#[b.yellow 實體活動]形式，#[b.yellow 每兩月一次]已連續五年舉辦，每次近百人的黑客松至今已有兩千人次參與。
      .col-md.mb-1: .card.bg-success: .card-body
        .reveal.s67(data-src="/assets/img/icon/translator.svg")
        h5.text-center 開放參與和線上協作
        p 黑客松提案均需以#[b.yellow 開放授權方式]釋出成果讓更多人願意投身加入，參與者亦透過各種網路工具進行#[b.yellow 線上協作]。
      .col-md.mb-1: .card.bg-danger: .card-body
        .reveal.s67(data-src="/assets/img/icon/crowdsourcing.svg")
        h5.text-center 公民科技與民間社群
        p 會後各提案持續發酵，廣傳民間也影響政府。更多#[b.yellow 子專案與主題松]展開，形成一個關心社會的#[b.yellow 公民科技社群]。
    +nbr(1)

    br
    h4 什麼是「讓事情發生」？ / #[big.red What] is "Let's Hack"?
    p 例如，想改善住家附近的公共設施品質嗎？想搞清楚選區立委做了多少事嗎？想號召民眾一起收集生活中的各種資料嗎？與其等待別人來做，不如自己先起個頭，讓大家來跟進吧！
    p 目前從零時政府黑客松發起的專案已經有超過 400 件，從飲水機地圖到監督國會，特色公園到國有地專案，大的、小的、身邊的，各式各樣的專案都可以成為零時政府專案。例如：
    ul
      li #[b.red 萌典] — 開放教育部國語詞典計劃，後來衍生成為各種語言、方言的多平台式線上詞典。
      li #[b.red 總預算視覺化] — 透過網頁視覺化技術，讓預算數字成為更容易閱讀的圖表。
      li #[b.red 動民主] — 以德國流動民主為概念，試圖打造線上決議的工具型專案。
      li #[b.red 新聞小幫手] — 回報問題新聞並即時提醒讀者的實用瀏覽器擴充。

    img.hidden-md.hidden-sm.hidden-xs(src="/assets/img/flow.png",style="width:1024px;margin:auto;display:block")
    +nbr(2)
    small.gray 提案成功的秘訣
    h4 要怎麼「讓事情發生」？ / #[big.red How] to "Let's Hack?"?
    p 萬事起頭難。首先針對你碰到的問題，構思一個具體提案，並用三分鐘的電梯式簡報告訴大家。成功的提案包含了以下的要素：
    ul
      li 清楚、簡單的#[b.red 訴求]。為什麼你要做這個？這個有什麼用處？
      li 初步的規畫與#[b.red 想法]。先跑先贏！用你的初稿引出更多回饋。
      li 缺乏的資源與#[b.red 需求]。會吵的小孩有糖吃，大聲說出你哪裡需要幫忙。
      li 最終成果如何#[b.red 分享]。大家一起蓋的橋，就要讓大家一起用。
    p 一旦準備好了你的構想，零時政府黑客松提供你提案的舞台，只要在當期共筆登記你的專案，放鬆心情到黑客松與大家分享，就很有機會吸引到與你的想法有共鳴的人喔！
    p 簡單的說，這裡就是一個 #[b.red 自主提案] → #[b.red 現場組隊] 的大平台，週而復始的活動流程如下：
    include timeline.pug
    .sep
    +nbr(2)
    small.gray 什麼樣的提案才適合呢？
    br
    h4 零時政府黑客松的理念 / Our Core Value
    p 現在你已經了解了黑客松的運作模式，那什麼樣子的想法適合來到零時政府黑客松提案呢？
    .row.text-white
      .col-md.mb-1: .card.bg-dark: .card-body
        h5.text-center 開源的
        .reveal.s67(data-src="/assets/img/icon/copyright.svg")
        p 這是號召民眾一同開幹的場域，成果必須與大家分享。無論源碼、設計，流程圖，成果須採用#[b.yellow 開放授權]，讓任何人都能享用你的成果。
      .col-md.mb-1: .card.bg-info: .card-body
        h5.text-center 行動主義
        .reveal.s67(data-src="/assets/img/icon/human-right.svg")
        p 沒有人做這個？你就是沒有人！我們#[b.yellow 鼓勵偷跑]，在提案前先把做法、困難、需求等問題釐清，由你當第一棒，讓更多人能夠無痛接力。
      .col-md.mb-1: .card.bg-secondary: .card-body
        h5.text-center 公民精神
        .reveal.s67(data-src="/assets/img/icon/statesman.svg")
        p 社會問題不是別人的問題，而是身為公民的、我們的問題。公民精神追求#[b.yellow 公共利益]與滿足大眾需求，討論取得共識來推動社會進步。

    //- future add: h5.text-center 舉例來說

    +nbr(2)
    small.gray 先來看看其它人怎麼提案的吧！
    br
    a(href="https://www.youtube.com/user/g0vTW/playlists",target="_blank")
      small.pull-right(style="margin-top:15px") 完整影片列表 #[i.fa.fa-arrow-right]
    h4 提案實況 / Pitch Video of Projects
    mixin carousel-video(title, name, desc, url, active)
      .carousel-item(class=(active ? "active" : ""))
        .row
          .col-sm-7
            .text-center #[br] #[h3= title] #[small.gray= name]
            hr
            p.text-left= desc
          .col-sm-5
            div(style="width:100%;height:250px;margin:auto;position:relative;background:#555 url(/assets/img/loader-jothon.svg) center center no-repeat")
              div(style="position:relative;height:0;padding-bottom:56.12%;width:100%")
                iframe(src=url,width="641",height="360",frameborder="0",
                gesture="media",allow="encrypted-media",
                style="position:absolute;width:100%;height:100%;left:0;margin:18px 0",allowfullscreen)



    .card: .card-body(style="padding-bottom:2.2rem")
      #carousel-video.carousel.slide(data-ride="carousel",style="background:#fff")
        ol.carousel-indicators
          each video,index in videos
            li(class=(index==0?"active":""),data-target="#carousel-video",data-slide-to=index)
        .carousel-inner
          each video,index in videos
            +carousel-video(video.title, video.name, video.desc, video.url, index == 0)
        a.carousel-control-prev(href="#carousel-video",role="button",data-slide="prev")
          span.carousel-control-prev-icon
        a.carousel-control-next(href="#carousel-video",role="button",data-slide="next")
          span.carousel-control-next-icon

    +nbr(2)
    small.gray 滿腔熱血無處去
    h4 沒有想法，我也可以貢獻嗎？ / Contribute by Join Others
    p
      | 可以！只要帶上你的腦袋與雙手，直接到活動現場找尋志同道合的提案吧！或者你也可以成為黑客松小幫手，先加入
      a(href="http://join.g0v.tw/") g0v slack
      |  線上聊天室的 #jothon 群組自我介紹，再到每次黑客松共筆的資訊列表看看是否還缺少什麼人力喔！
    +nbr(2)
    h4 參與者心得 / Blogs and Reviews
    +nbr(1)
    mixin carousel-review(item, index)
      if item
        blockquote: a(href=item.link,target="_blank")
          .review-thumb(style="background-image:url(/assets/img/reviews/" + item.author + ".png)")
          h5= item.title
          p: small= item.desc
          .text-right: small.gray — #{item.author} / #{item.job}

    #carousel-review.carousel.slide(data-ride="carousel")
      .carousel-inner
        each item,index in reviews
          if !(index % 3)
            .carousel-item(class=(index == 0 ? "active" : ""))
              .row
                .col-sm-4: +carousel-review(reviews[index], index)
                .col-sm-4: +carousel-review(reviews[index + 1], index)
                .col-sm-4: +carousel-review(reviews[index + 2], index)
      a.carousel-control-prev(href="#carousel-review",role="button",data-slide="prev")
        span.carousel-control-prev-icon: i.fa.fa-chevron-left
      a.carousel-control-next(href="#carousel-review",role="button",data-slide="next")
        span.carousel-control-next-icon: i.fa.fa-chevron-right

    +nbr(3)
    .text-center
      div #[small Wanna Join?]#[br]手癢了嗎？
      +nbr(1)
      if event
        a.btn.btn-primary.mr-2.btn-lg(href="https://g0v-jothon.kktix.cc/events/g0v-hackath" + featuring.id + "n",target="_blank") #[small Register Now]#[br]立刻報名
      a.btn.btn-primary.btn-lg.mr-2(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30") #[small Donate by Subscribing] #[br] 定期定額贊助
      a.btn.btn-primary.btn-lg(href="http://beta.hackfoldr.org/g0v-hackath" + featuring.id + "n") #[small Collaborative Note]#[br]當期共筆
      //- 等完稿再釋出
        +nbr(2)
        span 或
        +nbr(2)
        a(href="#",data-toggle="modal",
        data-target="#sorting-hat") 不清楚自己該去哪嗎？試試揪松網分類帽吧！#[img(src="/assets/img/magic.svg")]
    include sorting-hat.pug
    +nbr(1)
    .sep.huge-gap
    a#subscribe-newsletter.anchor
    +nbr(1)
    h4 訂閱電子報 / Subscribe Newsletter
    p 想要定期收到關於零時政府黑客松的最新資訊嗎？現在就訂閱揪松團電子報吧！
    iframe(src="//g0v.us13.list-manage.com/subscribe?u=688c0f30e2af41c2fa09114f2&id=24c8450e9a",style="width:100%;height:500px;border:1px solid #aaa;border-radius:5px")

