//- module
- var navEvents = yamls("data/events");
- navEvents.sort(function(a,b) { return b.id - a.id; });
- navEvents = navEvents.splice(0, 5)
nav.navbar.navbar-expand-lg.navbar-dark.text-light.bg-dark(data-controller="nav")
  a.navbar-brand(href="/") #[img.mr-1(src="/assets/img/jothon-bg-dark.svg")] 揪松網
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#navbarDropdown(
        href="#",role="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") 活動列表 #[small / Events]
        .dropdown-menu(aria-labelledby="navbarDropdown")
          a.dropdown-item(href="https://g0v.hackmd.io/@jothon/event",target="_blank") 社群活動行事曆 #[small / Community Calendar]
          a.dropdown-item(href="/events/") 歷屆黑客松共筆 #[small / Past Hackathon Events]
          a.dropdown-item(href="https://beta.hackfoldr.org/g0v-infras/",target="_blank") 歷屆基礎建設松共筆 #[small / Past Infrathon Events]
          a.dropdown-item(href="https://g0v-jothon.kktix.cc/",target="_blank") 揪松團 KKTIX #[small / KKTIX]
          .dropdown-divider
          a.dropdown-item(href="https://www.flickr.com/photos/g0v",target="_blank") 活動照片 #[small / Photo Records]
          a.dropdown-item(href="https://www.youtube.com/user/g0vTW/playlists",target="_blank") 簡報影片 #[small / Pitch Videos]
          a.dropdown-item(href="https://g0v.hackmd.io/@jothon/newsletters",target="_blank") 過往電子報 #[small / Newsletters]
      //- coming soon
        li.nav-item: a.nav-link(href="/faq/") 常見問題 #[small / FAQ]
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#navbar-dropdown-about(
        href="#",role="button",data-toggle="dropdown") 關於揪松 #[small / About]
        .dropdown-menu(aria-labelledby="#navbar-dropdown-about")
          a.dropdown-item(href="/about/") 關於我們 #[small / About Us]
          a.dropdown-item(href="/transaction/") 收支明細 #[small / Spending]
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#navbar-dropdown-about(
        href="#",role="button",data-toggle="dropdown") 揪松專案 #[small / Projects]
        .dropdown-menu(aria-labelledby="#navbar-dropdown-about")
          a.dropdown-item(href="https://sch001.g0v.tw/" target="_blank") 零時小學校 #[small / Sch001]
          a.dropdown-item(href="https://jothon.online/" target="_blank") 線上揪松 #[small / Jothon Online]
          a.dropdown-item(href="https://grants.g0v.tw/" target="_blank") 公民科技創新獎助金 #[small / Grants]
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#navbar-dropdown-participate(
        href="#",role="button",data-toggle="dropdown") 線上參與 #[small / Participate]
        .dropdown-menu
          a.dropdown-item(href="https://g0v.hackmd.io/@daisuke/ryjkbFyuS",target="_blank") 加入 Slack #[small / Join Slack]
          a.dropdown-item(href="https://www.facebook.com/groups/g0v.general/",target="_blank") 臉書社團 #[small / FB Group]
          a.dropdown-item(href="https://line.me/ti/g2/AXt5jaKXcL1RNBSVd6f2EA?utm_source=invitation&utm_medium=link_copy&utm_campaign=default",target="_blank") 加入 line 群 #[small / LINE Group]
          a.dropdown-item(href="/irc/") IRC 聊天室 #[small / IRC Chatroom]
          a.dropdown-item(href="/irc/log/") 對話紀錄 #[small / Chat Log]
          .dropdown-divider
          a.dropdown-item(href="http://g0v.hackmd.io/",target="_blank") 線上共筆 (HackMD) #[small / Collaborative Notes]
          a.dropdown-item(href="https://github.com/g0v/",target="_blank") 源碼庫 #[small / Github]
          a.dropdown-item(href="https://chunyenhuang.github.io/awesome-g0v-projects/#/",target="_blank") 歷次提案 #[small / project hub]
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#navbar-dropdown-participate(
        href="#",role="button",data-toggle="dropdown") 認養大松 #[small / Donate]
        .dropdown-menu
          a.dropdown-item(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=30",target="_blank") 捐款支持大松 #[small / Regular Donation]
          a.dropdown-item(href="https://ocf.neticrm.tw/civicrm/event/register?cid=0&reset=1&id=20",target="_blank") 大松贊助周邊 #[small /  g0v hackathon merch ]
    ul.navbar-nav.ml-auto
      li.nav-item: form.form-inline(method="GET",action="/search/")
        input.form-control.mr-sm-2.form-control-sm#search-input(name="q",type="search",placeholder="Search")
        .btn.btn-sm.btn-outline-light.clickable(onclick="search()") 搜尋
        //a.btn.btn-sm.btn-outline-light.clickable.ml-4(href="/notice/") 公告事項
        if hasEn
          a.btn.btn-sm.btn-outline-light.clickable.ml-2#en-btn(href="en/") EN
        else if isEn
          a.btn.btn-sm.btn-outline-light.clickable.ml-2#en-btn(href="../") 中文
          
    //-ul.navbar-nav.ml-auto
      li.nav-item.dropdown(data-dom="profile")
        a.nav-link.dropdown-toggle#navbar-profile(href="#",role="button",data-toggle="dropdown")
          .avatar
          span(data-text="displayname") 沒有人
        .dropdown-menu.dropdown-menu-right
          a.dropdown-item(href="/me/") 個人檔案 #[small  / Profile]
          a.dropdown-item(href="#",data-dom="signout") 登出 #[small  / Logout]
      li.nav-item: a.nav-link(href="#",data-dom="signin") 登入 #[small  / Sign In]
