//- module
- var timeline = yaml("data/timeline.yaml");
.container
  - var style = ["red", "orange", "green", "blue"]
  each section,index in timeline
    .timeline(class="timeline-" + (style[index % style.length]))
      each entry in section
        .entry(class=entry.type)
          .date= entry.date
          .action
            .text.heavy
              span #{entry.title.zh}
              small.en / #{entry.title.en}
          if entry.detail
            .detail !{md(entry.detail)}
  .timeline.end
    img(src="/assets/img/loader-g0v.svg")
    big 很快的，下次黑客松又要再來啦！
