extends /base.jade
block vars
  - var events = yamls("data/events");
  - events.sort(function(a,b) { return b.id - a.id; });
block head
block body
  .content
    h1.mb-0 過往活動 / Past Events
    small.gray 自 2012 年 12 月起
    hr
    +nbr(1)
    .events
      each item in events
        a.anchor(id="hackath" + item.id + "n")
        .event.media
          .mr-3
            .thumb: .inner(style="background-image:url(/assets/img/events/" + item.id + ".jpg)")
          .media-body
            h4.mt-0 #{item.name.replace("台灣零時政府","")} #[.en / g0v hackath#{item.id}n]
            .links
              .btn.btn-sm.btn-primary.mr-1 #{item.date}
              .btn.btn-sm.btn-light.mr-1(href="http://beta.hackfoldr.org/g0v-hackath" + item.id + "n") #[i.fa.fa-link.mr-1] 共筆入口 / Note
              .btn.btn-sm.btn-light.mr-1(href="https://www.youtube.com/watch?v=AiJq0g_HkYs&list=PLdwQWxpS513AE-87nwhQWcIwsORSix54f") #[i.fa.fa-video-camera.mr-1] 提案簡報 / Pitch
              .btn.btn-sm.btn-light.mr-1(href="https://www.youtube.com/watch?v=AiJq0g_HkYs&list=PLdwQWxpS513AE-87nwhQWcIwsORSix54f") #[i.fa.fa-video-camera.mr-1] 中場短講 / Talk
              .btn.btn-sm.btn-light.mr-1(href="https://www.youtube.com/watch?v=AiJq0g_HkYs&list=PLdwQWxpS513AE-87nwhQWcIwsORSix54f") #[i.fa.fa-video-camera.mr-1] 成果報告 / Demo
              .btn.btn-sm.btn-light.mr-1.disabled.has-tips(href="/projects/tag/hackath" + item.id + "n",
              data-toggle="tooltip",data-placement="top",title="coming soon") #[i.fa.fa-group.mr-1] 相關專案
              .sep.huge-gap
              .desc !{md(item.description)}
  script.
    $('.has-tips').tooltip();
