//- module
- var navEvents = yamls("data/events");
- navEvents.sort(function(a,b) { return b.id - a.id; });
- navEvents = navEvents.splice(0, 5)
nav.navbar.navbar-expand-lg.navbar-dark.text-light.bg-dark(data-controller="nav")
  a.navbar-brand(href="/") #[img.mr-1(src="/assets/img/jothon-bg-dark.svg")] 揪松網
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#navbarDropdown(
        href="#",role="button",data-toggle="dropdown") 過往活動 #[small / Events]
        .dropdown-menu
          each event in navEvents
            a.dropdown-item(href="/events/#hackath" + event.id + "n") #{ordinal(event.id)} - #{event.name.replace(/^.+次/,'')}
          a.dropdown-item(href="/events/") ... 更多 #[small / More]
          .dropdown-divider
          a.dropdown-item(href="https://www.flickr.com/photos/tkirby/collections/72157632969946032/",target="_blank") 活動照片 #[small / Photo Records]
          a.dropdown-item(href="https://www.youtube.com/user/g0vTW/playlists",target="_blank") 簡報影片 #[small / Pitch Videos]
          a.dropdown-item(href="http://us13.campaign-archive1.com/home/?u=688c0f30e2af41c2fa09114f2&id=24c8450e9a",target="_blank") 過往電子報 #[small / Newsletters]
      //- coming soon
        li.nav-item: a.nav-link(href="/faq/") 常見問題 #[small / FAQ]
      li.nav-item: a.nav-link(href="/about/") 關於揪松 #[small / About]
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle#navbar-dropdown-participate(
        href="#",role="button",data-toggle="dropdown") 線上參與 #[small / Participate]
        .dropdown-menu
          a.dropdown-item(href="http://join.g0v.today",target="_blank") 加入 Slack #[small / Join Slack]
          a.dropdown-item("https://www.facebook.com/groups/g0v.general/",target="_blank") 臉書社團 #[small / FB Group]
          a.dropdown-item(href="/irc/") 線上聊天室 #[small / Chatroom]
          a.dropdown-item(href="/irc/log/") 對話紀錄 #[small / Chat Log]
          a.dropdown-item(href="https://groups.google.com/forum/#!forum/g0v-general",target="_blank") 線上論壇 #[small / Forum]
          a.dropdown-item(href="http://g0v.hackpad.tw/",target="_blank") 線上共筆 #[small / Collaborative Notes]
          .dropdown-divider
          a.dropdown-item(href="https://github.com/g0v/",target="_blank") 源碼庫 #[small / Github]
      li.nav-item: a.nav-link(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=18",
      target="_blank") 認養大松 #[small / Donate]
      li.nav-item: form.form-inline
        input.form-control.mr-sm-2.form-control-sm#search-input(type="search",placeholder="Search")
        .btn.btn-sm.btn-outline-light.clickable(onclick="search()") 搜尋
    ul.navbar-nav.ml-auto
      li.nav-item.dropdown(data-dom="profile")
        a.nav-link.dropdown-toggle#navbar-profile(href="#",role="button",data-toggle="dropdown")
          .avatar
          span(data-text="displayname") 沒有人
        .dropdown-menu.dropdown-menu-right
          a.dropdown-item(href="/me/") 個人檔案 #[small  / Profile]
          a.dropdown-item(href="#",data-dom="signout") 登出 #[small  / Logout]
      li.nav-item: a.nav-link(href="#",data-dom="signin") 登入 #[small  / Sign In]

