extends /base.pug
block vars
  - var title = "歷屆黑客松共筆 / 零時政府揪松網"
  - var events = yamls("data/events");
  - events.sort(function(a,b) { return b.id - a.id; });
block head
block body
  .container
    h1.mb-0 歷屆黑客松共筆 / Past Hackathon Events
    small.gray 自 2012 年 12 月起，歷次提案統整可到 #[a(href="https://docs.google.com/spreadsheets/d/1C9-g1pvkfqBJbfkjPB0gvfBbBxVlWYJj6tTVwaI5_x8/edit#gid=1563040282", target="_blank") g0v DB] 尋找。
    hr
    +nbr(1)
    .events
      each item in events
        a.anchor(id="hackath" + item.id + "n")
        .event.media
          .mr-3
            .thumb
              .inner.reveal.cover.lightbox.clickable(
                style="background-image:url(/assets/img/events/" + item.id + ".jpg)",
                data-src="/assets/img/events/" + item.id + ".jpg",
                data-lg-src="/assets/img/events/" + item.id + ".jpg"
              )

          .media-body
            h4.mt-0 #{item.name.replace("台灣零時政府","")} #[.en / g0v hackath#{item.id}n]
            .links
              .btn.btn-sm.btn-primary.mr-1 #{item.date}
              if item.usebookmode == true
                a.btn.btn-sm.btn-light.mr-1(target="_blank" href="https://g0v.hackmd.io/@jothon/g0v-hackath" + item.id + "n") #[i.fa.fa-link.mr-1] 共筆入口 / Note
              else
                a.btn.btn-sm.btn-light.mr-1(target="_blank" href="http://beta.hackfoldr.org/g0v-hackath" + item.id + "n") #[i.fa.fa-link.mr-1] 共筆入口 / Note
              if item.video_pitch
                a.btn.btn-sm.btn-light.mr-1(target="_blank" href=item.video_pitch) #[i.fa.fa-video-camera.mr-1] 提案簡報 / Pitch
              if item.video_talk
                a.btn.btn-sm.btn-light.mr-1(target="_blank" href=item.video_talk) #[i.fa.fa-video-camera.mr-1] 中場短講 / Talk
              if item.video_demo
                a.btn.btn-sm.btn-light.mr-1(target="_blank" href=item.video_demo) #[i.fa.fa-video-camera.mr-1] 成果報告 / Demo
                
              // .btn.btn-sm.btn-light.mr-1.disabled.has-tips(href="/projects/tag/hackath" + item.id + "n",
              // data-toggle="tooltip",data-placement="top",title="coming soon") #[i.fa.fa-group.mr-1] 相關專案
              .sep.huge-gap
              .desc !{md(item.description)}
  script.
    $('.has-tips').tooltip();
